In [95]:
import pandas as pd
import seaborn as sns

In [57]:
titanic = pd.read_csv('titanic.csv')

In [58]:
titanic.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [59]:
titanic.loc[99]

PassengerId                  100
Survived                       0
Pclass                         2
Name           Kantor, Mr. Sinai
Sex                         male
Age                         34.0
SibSp                          1
Parch                          0
Ticket                    244367
Fare                        26.0
Cabin                        NaN
Embarked                       S
Name: 99, dtype: object

In [60]:
titanic.loc[5, 'Age'] = 30

In [61]:
titanic.loc[5]

PassengerId                   6
Survived                      0
Pclass                        3
Name           Moran, Mr. James
Sex                        male
Age                        30.0
SibSp                         0
Parch                         0
Ticket                   330877
Fare                     8.4583
Cabin                       NaN
Embarked                      Q
Name: 5, dtype: object

In [62]:
count = (titanic['Age'] > 18).sum()
print(count)

576

In [63]:
countOver18 = 0
for person in titanic["Age"]:
    if person > 18:
        countOver18 = countOver18 + 1
count

576

In [64]:
percent = ((titanic['Sex'] == 'male').sum()/len(titanic))*100
print(percent)

64.75869809203144

In [65]:
count = 0
for person in titanic['Sex']:
    if person == 'male':
        count = count + 1
        
count = (count/len(titanic))*100
count

64.75869809203144

In [66]:
classes = {"CLASS": [], "Frequency" : []}
class1 = (titanic['Pclass'] == 1).sum()
class2 = (titanic['Pclass'] == 2).sum()
class3 = (titanic['Pclass'] == 3).sum()
classes["CLASS"].append("First")
classes["CLASS"].append("Second")
classes["CLASS"].append("Third")
classes["Frequency"].append(class1)
classes["Frequency"].append(class2)
classes["Frequency"].append(class3)

classes

{'CLASS': ['First', 'Second', 'Third'], 'Frequency': [216, 184, 491]}

In [67]:
freqTable = pd.DataFrame(classes)

freqTable.head()

    CLASS  Frequency
0   First        216
1  Second        184
2   Third        491

In [68]:
freqTable["Percent"] = (freqTable["Frequency"]/len(titanic)*100)

In [69]:
freqTable.head()

    CLASS  Frequency    Percent
0   First        216  24.242424
1  Second        184  20.650954
2   Third        491  55.106622

In [70]:
titanic.loc[527]

PassengerId                   528
Survived                        0
Pclass                          1
Name           Farthing, Mr. John
Sex                          male
Age                           NaN
SibSp                           0
Parch                           0
Ticket                   PC 17483
Fare                     221.7792
Cabin                         C95
Embarked                        S
Name: 527, dtype: object

In [71]:
for person in titanic["Name"]:
    if "Fannie" in person 
        break 
    indx += 1;

titanic.loc[indx]

SyntaxError: invalid syntax (1021425928.py, line 2)

In [72]:
estonia = pd.read_csv('estonia.csv')

In [73]:
freqTable = estonia['Country'].value_counts().reset_index()

In [74]:
freqTable.columns = ['Country', 'Counts']

In [75]:
freqTable['Percent'] = (freqTable['Counts']/len(estonia))*100

In [76]:
freqTable.head()

   Country  Counts    Percent
0   Sweden     550  55.611729
1  Estonia     344  34.782609
2   Latvia      28   2.831143
3  Finland      16   1.617796
4   Russia      14   1.415571

In [77]:
freqTable

          Country  Counts    Percent
0          Sweden     550  55.611729
1         Estonia     344  34.782609
2          Latvia      28   2.831143
3         Finland      16   1.617796
4          Russia      14   1.415571
5          Norway       9   0.910010
6         Germany       8   0.808898
7         Denmark       6   0.606673
8       Lithuania       4   0.404449
9   Great Britain       2   0.202224
10        Morocco       2   0.202224
11    Netherlands       2   0.202224
12         France       1   0.101112
13        Nigeria       1   0.101112
14         Canada       1   0.101112
15        Belarus       1   0.101112

In [78]:
surviveSex = {"Sex": [], "Percent Survived" : []}

percentMaleSurv = ((titanic['Survived'] == 1).sum())/((titanic['Sex'] == 'male').sum())
percentFemaleSurv = ((titanic['Survived'] == 1).sum())/(titanic['Sex'] == 'female').sum()

surviveSex["Sex"].append("male")
surviveSex["Sex"].append("female")

surviveSex["Percent"].append(percentMaleSurv)
surviveSex["Percent"].append(percentFemaleSurv)


surviveSex

KeyError: 'Percent'

In [79]:
for idx in range(len(titanic)):
    print(titanic.loc[idx]["Sex"], titanic.loc[idx]["Survived"])
    break

male 0

In [80]:
maleSurvive = 0
femaleSurvive = 0
maleDied = 0
femaleDied = 0
for idx in range(len(titanic)):
    if titanic.loc[idx]["Sex"] == "male" and titanic.loc[idx]["Survived"] == 0:
        maleDied += 1
    elif titanic.loc[idx]["Sex"] == "male" and titanic.loc[idx]["Survived"] == 1:
        maleSurvive += 1
    elif titanic.loc[idx]["Sex"] == "female" and titanic.loc[idx]["Survived"] == 0:
        femaleDied +=1
    elif titanic.loc[idx]["Sex"] == "female" and titanic.loc[idx]["Survived"] == 1:
        femaleSurvive += 1
conTable = pd.DataFrame({
    "Male": [maleSurvive, maleDied],
    "Female": [femaleSurvive, femaleDied] })
conTable.index = ["Survived", "Died"]
conTable.head()

          Male  Female
Survived   109     233
Died       468      81

In [81]:
surviveChild = 0
surviveAdult = 0
surviveElder = 0

diedChild = 0
diedAdult = 0
diedElder = 0

for idx in range(len(titanic)):
    if titanic.loc[idx]["Survived"] == 1 {
        if titanic.loc[idx]["Age"] < 18
            surviveChild += 1;
        else if titanic.loc[idx]["Age"] < 65
            surviveAdult += 1;
        else if titanic.loc[idx]["Age"] >= 65
            surviveElder += 1;
    } else if titanic.loc[idx]["Survived"] == 0 {
        if titanic.loc[idx]["Age"] < 18
            diedChild += 1;
        else if titanic.loc[idx]["Age"] < 65
            diedAdult += 1;
        else if titanic.loc[idx]["Age"] >= 65
            diedElder += 1;
    }
    
childTotal = surviveChild + diedChild
adultTotal = surviveAdult + diedAdult
elderlyTotal = surviveElder + diedElder

    
conTable = {
    "Child" : [surviveChild/childTotal * 100, diedChild/childTotal * 100],
    "Adult" : [surviveAdult/adultTotal * 100, diedAdult/adultTotal * 100],
    "Elderly" : [surviveElder/elderTotal * 100, diedElder/elderTotal * 100]
    "Total" : 
}
df2 = pd.DatFrame(conTable)
df2.idex = ["Survived", "Died"]
conTable.head()

SyntaxError: invalid syntax (4290190320.py, line 10)

In [82]:
cityS = 0
citySDie = 0
cityC = 0
cityCDie = 0
cityQ = 0
cityQDie = 0
for idx in range(len(titanic)):
    if titanic.loc[idx]["Embarked"] == "S" and titanic.loc[idx]["Survived"] == 0:
        citySDie += 1
    elif titanic.loc[idx]["Embarked"] == "S" and titanic.loc[idx]["Survived"] == 1:
        cityS += 1
    elif titanic.loc[idx]["Emabarked"] == "C" and titanic.loc[idx]["Survived"] == 0:
        cityCDie +=1
    elif titanic.loc[idx]["Embarked"] == "C" and titanic.loc[idx]["Survived"] == 1:
        cityC += 1
    elif titanic.loc[idx]["Emabarked"] == "Q" and titanic.loc[idx]["Survived"] == 0:
        cityQDie +=1
    elif titanic.loc[idx]["Embarked"] == "Q" and titanic.loc[idx]["Survived"] == 1:
        cityQ += 1
conTable = pd.DataFrame({
    "cityS": [cityS, citySDie],
    "cityC": [cityC, cityCDie],
    "cityQ" : [cityQ, cityQDie]
})
conTable.index = ["Survived", "Died"]
conTable.head()

KeyError: 'Emabarked'

In [96]:
survived = {"S": 0, "C": 0, "Q": 0 , "U": 0}
died = {"S": 0, "C": 0, "Q": 0 , "U": 0}
for inx in range(len(titanic)):
    city = titanic.loc[idx]["Embarked"]
    if titanic.loc[idx]["Survived"] == 1:
        if city in ["S", "C", "Q"]:
            survived[city] += 1
        else:
            survived["U"] += 1
    else:
        if city in ["S", "C", "Q"]:
                died[city] += 1
        else:
            died["U"] += 1
conTable = {
    "S" : [survived["S"]/(survived["S"] + died["S"]), died["S"], survived["S"] + died["S"]],
    "C" : [survived["C"], died["C"], survived["C"] + died["C"]],
    "Q" : [survived["Q"], died["Q"], survived["Q"] + died["Q"]],
    "U" : [survived["U"], died["U"], survived["U"] + died["U"]],
    "Total": [survived["S"] + survived["C"] + survived["Q"] + survived["U"],
              died["S"], died["C"], died["Q"], died["U"], len(titanic)]
}

conTable = pd.DataFrame(conTable)
conTable.index = ["Survived", "Died", "Total"]
conTable.head()

ZeroDivisionError: division by zero

In [84]:
survived = {"S": 0, "C": 0, "Q": 0, "U": 0}
died = {"S": 0, "C": 0, "Q": 0, "U": 0}
for idx in range(len(titanic)):
    city = titanic.loc[idx]["Embarked"]
    if titanic.loc[idx]["Survived"] == 1:
        if city in ["S", "C", "Q"]:
            survived[city] += 1
        else:
            survived["U"] += 1
    else:
        if city in ["S", "C", "Q"]:
            died[city] += 1
        else:
            died["U"] += 1
conTable = {
    "S":  {
    "S": [survived["S"]/(survived["S"] + died["S"]) * 100[survived["S"]/(survived["S"] + died["S"]) * 100, died["S"], survived["S"] + died["S"]],
    "Q": [survived["Q"], died["Q"], survived["Q"] + died["Q"]],
    "C": [survived["C"], died["C"], survived["C"] + died["C"]],
    "U": [survived["U"], died["U"], survived["U"] + died["U"]],
    "Total": [survived["S"] + survived["Q"] + survived["C"] + survived["U"],
              died["S"] + died["Q"] + died["C"] + died["U"],
              len(df)]
}
conTable = pd.DataFrame(conTable)
conTable.index = ["Survived", "Died", "Total"]
conTable.head()

SyntaxError: invalid syntax (1535648966.py, line 18)

In [91]:
x = {"S", "C", "Q", "U"}
y = {survived["S"] + died["S"], survived["C"] + died["C"],survived["Q"] + died["Q"], survived["U"] + died["U"],}

In [94]:
sns.barplot(x, y)
plt.show()

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [ ]:
passengerClasses = {"First": 0, "Second" : 0, "Third": 0}
for passenger in titanic["Pclass"]:
    if passenger == 1:
        passengerClasses["First"] += 1