In [10]:
import pandas as pd

In [11]:
titanic = pd.read_csv('titanic.csv')

In [12]:
titanic.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [13]:
titanic.loc[99]

PassengerId                  100
Survived                       0
Pclass                         2
Name           Kantor, Mr. Sinai
Sex                         male
Age                         34.0
SibSp                          1
Parch                          0
Ticket                    244367
Fare                        26.0
Cabin                        NaN
Embarked                       S
Name: 99, dtype: object

In [18]:
titanic.loc[5, 'Age'] = 30

In [19]:
titanic.loc[5]

PassengerId                   6
Survived                      0
Pclass                        3
Name           Moran, Mr. James
Sex                        male
Age                        30.0
SibSp                         0
Parch                         0
Ticket                   330877
Fare                     8.4583
Cabin                       NaN
Embarked                      Q
Name: 5, dtype: object

In [23]:
count = (titanic['Age'] > 18).sum()
print(count)

576

In [27]:
countOver18 = 0
for person in titanic["Age"]:
    if person > 18:
        countOver18 = countOver18 + 1
count

576

In [29]:
percent = ((titanic['Sex'] == 'male').sum()/len(titanic))*100
print(percent)

64.75869809203144

In [30]:
count = 0
for person in titanic['Sex']:
    if person == 'male':
        count = count + 1
        
count = (count/len(titanic))*100
count

64.75869809203144

In [40]:
classes = {"CLASS": [], "Frequency" : []}
class1 = (titanic['Pclass'] == 1).sum()
class2 = (titanic['Pclass'] == 2).sum()
class3 = (titanic['Pclass'] == 3).sum()
classes["CLASS"].append("First")
classes["CLASS"].append("Second")
classes["CLASS"].append("Third")
classes["Frequency"].append(class1)
classes["Frequency"].append(class2)
classes["Frequency"].append(class3)

classes

{'CLASS': ['First', 'Second', 'Third'], 'Frequency': [216, 184, 491]}

In [44]:
freqTable = pd.DataFrame(classes)

freqTable.head()

    CLASS  Frequency
0   First        216
1  Second        184
2   Third        491

In [46]:
freqTable["Percent"] = (freqTable["Frequency"]/len(titanic)*100)

In [47]:
freqTable.head()

    CLASS  Frequency    Percent
0   First        216  24.242424
1  Second        184  20.650954
2   Third        491  55.106622

In [54]:
titanic.loc[527]

PassengerId                   528
Survived                        0
Pclass                          1
Name           Farthing, Mr. John
Sex                          male
Age                           NaN
SibSp                           0
Parch                           0
Ticket                   PC 17483
Fare                     221.7792
Cabin                         C95
Embarked                        S
Name: 527, dtype: object

In [64]:
for person in titanic["Name"]:
    if "Fannie" in person 
        break 
    indx += 1;

titanic.loc[indx]

SyntaxError: invalid syntax (1021425928.py, line 2)

In [52]:
estonia = pd.read_csv('estonia.csv')

In [68]:
freqTable = estonia['Country'].value_counts().reset_index()

In [69]:
freqTable.columns = ['Country', 'Counts']

In [70]:
freqTable['Percent'] = (freqTable['Counts']/len(estonia))*100

In [71]:
freqTable.head()

   Country  Counts    Percent
0   Sweden     550  55.611729
1  Estonia     344  34.782609
2   Latvia      28   2.831143
3  Finland      16   1.617796
4   Russia      14   1.415571

In [ ]:
freqTable

In [73]:
surviveSex = {"Sex": [], "Percent Survived" : []}

percentMaleSurv = ((titanic['Survived'] == 1).sum())/((titanic['Sex'] == 'male').sum())
percentFemaleSurv = ((titanic['Survived'] == 1).sum())/(titanic['Sex'] == 'female').sum()

surviveSex["Sex"].append("male")
surviveSex["Sex"].append("female")

surviveSex["Percent"].append(percentMaleSurv)
surviveSex["Percent"].append(percentFemaleSurv)


surviveSex

KeyError: 'Percent'

In [76]:
for idx in range(len(titanic)):
    print(titanic.loc[idx]["Sex"], titanic.loc[idx]["Survived"])
    break

male 0

In [80]:
maleSurvive = 0
femaleSurvive = 0
maleDied = 0
femaleDied = 0
for idx in range(len(titanic)):
    if titanic.loc[idx]["Sex"] == "male" and titanic.loc[idx]["Survived"] == 0;
    maleDied += 1
    else if titanic.loc[idx]["Sex"] == "male" and titanic.loc[idx]["Survived"] == 1;
    maleSurvived += 1
    else if titanic.loc[idx]["Sex"] == "female" and titanic.loc[idx]["Survived"] == 0;
    femaleDied +=1
    else if titanic.loc[idx]["Sex"] == "female" and titanic.loc[idx]["Survived"] == 1;
    femaleSurvived += 1
    conTable = pd.DataFrame({
        "Male": [maleSurvived, maleDied]
        "Female": [femaleSurvived, femaleDied]
    })
    contable.index = ["Survived", "Died"]
    contable.head()

SyntaxError: invalid syntax (4134634326.py, line 6)

In [82]:
surviveChild = 0
surviveAdult = 0
surviveElder = 0

diedChild = 0
diedAdult = 0
diedElder = 0

for idx in range(len(titanic)):
    if titanic.loc[idx]["Survived"] == 1 {
        if titanic.loc[idx]["Age"] < 18
            surviveChild += 1;
        else if titanic.loc[idx]["Age"] < 65
            surviveAdult += 1;
        else if titanic.loc[idx]["Age"] >= 65
            surviveElder += 1;
    } else if titanic.loc[idx]["Survived"] == 0 {
        if titanic.loc[idx]["Age"] < 18
            diedChild += 1;
        else if titanic.loc[idx]["Age"] < 65
            diedAdult += 1;
        else if titanic.loc[idx]["Age"] >= 65
            diedElder += 1;
    }
    
childTotal = surviveChild + diedChild
adultTotal = surviveAdult + diedAdult
elderlyTotal = surviveElder + diedElder

    
conTable = {
    "Child" : [surviveChild/childTotal * 100, diedChild/childTotal * 100],
    "Adult" : [surviveAdult/adultTotal * 100, diedAdult/adultTotal * 100],
    "Elderly" : [surviveElder/elderTotal * 100, diedElder/elderTotal * 100]
    "Total" : 
}
df2 = pd.DatFrame(conTable)
df2.idex = ["Survived", "Died"]
conTable.head()

SyntaxError: invalid syntax (1763097252.py, line 10)