In [10]:
import pandas as pd

In [11]:
titanic = pd.read_csv('titanic.csv')

In [12]:
titanic.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [13]:
titanic.loc[99]

PassengerId                  100
Survived                       0
Pclass                         2
Name           Kantor, Mr. Sinai
Sex                         male
Age                         34.0
SibSp                          1
Parch                          0
Ticket                    244367
Fare                        26.0
Cabin                        NaN
Embarked                       S
Name: 99, dtype: object

In [18]:
titanic.loc[5, 'Age'] = 30

In [19]:
titanic.loc[5]

PassengerId                   6
Survived                      0
Pclass                        3
Name           Moran, Mr. James
Sex                        male
Age                        30.0
SibSp                         0
Parch                         0
Ticket                   330877
Fare                     8.4583
Cabin                       NaN
Embarked                      Q
Name: 5, dtype: object

In [23]:
count = (titanic['Age'] > 18).sum()
print(count)

576

In [27]:
countOver18 = 0
for person in titanic["Age"]:
    if person > 18:
        countOver18 = countOver18 + 1
count

576

In [29]:
percent = ((titanic['Sex'] == 'male').sum()/len(titanic))*100
print(percent)

64.75869809203144

In [30]:
count = 0
for person in titanic['Sex']:
    if person == 'male':
        count = count + 1
        
count = (count/len(titanic))*100
count

64.75869809203144